.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.allCampaigns {
  padding: 20px;
  border: 1px dashed #EFEFEF;
  min-width: 500px;
  margin: 20px;
  min-height: 200px;
}

div.currentCampaign {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.campaignElement {
  display: flex;
}

div.campaign {
  display: flex;
  flex-direction: row;
}